
<li class="menu-title">Schools</li>
<li>
    <a href="javascript: void(0);" class="has-arrow waves-effect">
        <i class="uil-university"></i>
        <span>Schools</span>
    </a>
    <ul class="sub-menu" aria-expanded="true">
        <li>
            <a asp-action="AllSchools" asp-controller="Inspector">LGA Schools</a>
        </li>
    </ul>
</li>
